
body {
	font-family: $body-font-stack;
	font-size: 16px;

	background-color:#EEEEEE;
}

p {
	font-size: 20px;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font-stack;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

a {
	color: $color-logo;
}

a:hover {
	color: darken($color-logo,10);
}

/* body styles */

#main {
	margin-top:32px;
	margin-bottom:32px;
	background-color:#FFFFFF;
	padding: 72px 128px;

	// max-width: 1024px;
	
	img {
		max-width: 100%;
	}
}