@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,700,400italic,700italic);

$color-dark: #000000;
$color-light: #FFFFFF;
$color-grey: #AAAAAA;

$color-logo: #FF9900;

$header-font-stack: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

$body-font-stack: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;