/* header styles */

.navbar-topbar
{
	background-color:$color-logo;
	padding:16px;
	font-size:24px;
	font-weight:300;

	border-radius:0;
}

.navbar a {
	color:#000000;
}

.navbar-nav>li>a:hover {
	background-color:none;
	background-color: rgba(0,0,0,0.1);
}

.navbar-brand {
	font-size:24px;
	font-weight:bold;
	color:#000000;
	background-color:none;
}

.icon-bar {
	background-color: #000000!important;
}

.navbar-toggle {
	border: #000000 1px solid;
}
