/* Responsive iFrame */
 
.responsive-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
}