
        <script>
            var page = $('#page');

            var source   = $("#layout").html();
            var template = Handlebars.compile(source);

            console.log(new Handlebars.SafeString(marked($("#content").html())));

            var context = {content: new Handlebars.SafeString(marked($("#content").html()))};
            var html = template(context);

            page.append(html);
        </script>
    </body>
</html>